body{
  font-family: 'Roboto', sans-serif;
  background: #000;
}
.vh-100{
  height: 100vh;
}
.side-nav li>a {
  color: #fff;
}
.side-nav li>a>i.fa-circle{
  color: #fff;
}
.side-nav li>a:hover{
  background-color:#00acc1 ;
}

a .menu {
  border: 3px solid #00acc1;
  border-radius: 5px;
  color:#00acc1;
  position: fixed;
  background:  #006064;
  margin-top: 10px;
}
.intro{
  background: linear-gradient(rgba(0,0,0, .5), rgba(0, 0, 0, 0.653)),url(../assets/images/fondo.jpg) no-repeat center center;
  background-size: cover;
}
.muli{
  font-family: 'Muli', sans-serif;
}
.fa-hand-peace{
  color:#00acc1;
}
.about{
  background: #e0f7fa;
}

@media only screen and (min-width: 1200px){
.about p{
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
}
.skill{
  padding: 30px;
}
.skill-lb{
  background: #fff;
}
.skill h4{
  margin-top: 35px;
}
.project {
  background: #fff;
}
.contac{
  background: url(../assets/images/fondo-2.png) no-repeat center center;
  background-size: cover;
}
.rombo {
  width: 60px; 
  height: 60px; 
  border: 3px double #ff3d00; 
  background: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rombo i{
  color: #ff3d00;
  transform: rotate(-45deg);
  position: relative;
  top: 15px;
  right: auto;
}
.phone{
  margin-top: 15px;
}
.contac a i{
  color: #fff;
}
.skills-tools{
  display: inline-block;
  font-size: 100px;
  margin: 15px;
  
}
@media only screen and (max-width: 768px){
  h1{
   font-size: 2.5em;
 }
 h2{
  font-size: 2em ; 
}
 h3{
  font-size: 1.75em;
 }
 h4{
   font-size: 1.5em;
 }
 h5{
   font-size: 1.25em;
 }
 p{
  font-size: 1em;
 }
 .phone-about{
   display:block;
 }
 .skills-tools{
   font-size:45px;
   margin-top:15px
 }
 .skill{
  padding:0px;
}
}
.animated{
  opacity: 0.5;
}
.project{
  background: linear-gradient(rgba(0, 0, 0, 0.666), rgba(0, 0, 0, 0.585)),url(../assets/images/project-background.jpg) no-repeat center center;
  background-size: cover;
  
}